<?xml version="1.0" encoding="utf-8"?><!--
    Copyright (C) 2012-2015 Tobias Brunner
    Copyright (C) 2012 Giuliano Grassi
    Copyright (C) 2012 Ralf Sager
    HSR Hochschule fuer Technik Rapperswil
    This program is free software; you can redistribute it and/or modify it
    under the terms of the GNU General Public License as published by the
    Free Software Foundation; either version 2 of the License, or (at your
    option) any later version.  See <http://www.fsf.org/copyleft/gpl.txt>.
    This program is distributed in the hope that it will be useful, but
    WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
    or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License
    for more details.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gardion.android.family.client">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".logic.GardionApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/GardionTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".logic.FlowController"
            android:label="@string/main_activity_name"
            android:screenOrientation="unspecified">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <service
            android:name="org.strongswan.android.logic.VpnStateService"
            android:exported="false" />
        <service
            android:name="org.strongswan.android.logic.CharonVpnService"
            android:exported="false"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <!-- Gardion receivers -->
        <receiver
            android:name=".security.GardionDeviceAdminReceiver"
            android:description="@string/app_name"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/gardion_device_admin_receiver" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".logic.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".logic.UserPresentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <receiver android:name=".logic.PackageAddedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

       <receiver android:name=".logic.PackageFullyRemovedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".logic.GardionRestartReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="RestartService" />

        <!-- TODO - remove if not needed after testing -->
        <receiver android:name=".network.GardionNetworkReceiver" />

        <activity
            android:name=".gardionui.GardionLoginActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".gardionui.GardionVpnActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".gardionui.GardionPopupActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".gardionui.GardionWelcomeActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".gardionui.GardionAdminActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".gardionui.GardionCertificateActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".gardionui.GardionShowParentPinActivity"
            android:screenOrientation="unspecified" />

        <!-- Gardion services -->
        <service android:name=".security.CheckAdminService" />
        <service android:name=".security.GardionConnectionService" />
        <service android:name=".security.GardionRestartService" />

        <activity android:name=".gardionui.UsageStatsTestActivity" />
        <activity android:name=".gardionui.PackageAddedTestActivity" />
    </application>

</manifest>